<div class="Menu">
    <span class="logo">Movies</span>
    <div>
        {% url 'movies:movies' as url %}
        <a href="{% url 'movies:movies' %}" class="navTxt {% if request.path == url %}navTxtActive{%endif%}">Films</a>
        
        {% url 'shows:shows' as url %}
        <a href="{% url 'shows:shows' %}" class="navTxt {% if request.path == url %}navTxtActive{%endif%}">Séries</a>
        
        {% url 'actors:actors' as url %}
        <a href="{% url 'actors:actors' %}" class="navTxt {% if request.path == url %}navTxtActive{%endif%}">Acteurs</a>

        <a class="navBtn">Inscription</a>
    </div>
</div>