{% extends 'base/base.html' %}

{% block title %}Mot de passe modifié{% endblock %}

{% block content %}

<div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
    <div class="relative bg-white shadow-xl">
        <div class="py-10 px-6 sm:px-10 lg:col-span-2 xl:p-12">
            <h3 class="text-lg font-medium text-gray-900">Mot de passe réinitialisé</h3>
            <p class="mt-2 text-gray-600">
                Votre nouveau mot de passe a été défini. Vous pouvez maintenant vous connecter sur la <a href="{% url 'management:login' %}">page de connexion</a>.</p>
        </div>
    </div>
</div>

{% endblock %}