{% extends '../../base/base.html' %}

{% block title %}Acteurs{% endblock %}

{% block content %}

{% include 'generic/search.html' %}

<div class="pt-16">
    {% include 'generic/divider.html' with title='Acteurs' %}
</div>

<div class="bg-white">
    <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="mt-6 grid grid-cols-1 gap-x-8 gap-y-8 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-4">
            {% for actor in actors %}
            <div class="relative group">
                <div class="h-96 aspect-w-4 aspect-h-3 rounded-lg overflow-hidden bg-gray-100">
                    {% if actor.get_profile_path %}
                    <img src="{{actor.get_profile_path}}" alt="" class="object-center object-cover">
                    {% else %}
                    <svg id="glyphicons-basic" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                        <path fill="#b5b5b5" id="user"
                            d="M27,24.23669V27a1,1,0,0,1-1,1H5a1,1,0,0,1-1-1V24.23669a1.57806,1.57806,0,0,1,.93115-1.36462L10.0672,20.167A5.02379,5.02379,0,0,0,14.55273,23h1.89454a5.02336,5.02336,0,0,0,4.48535-2.83313l5.13623,2.7052A1.57806,1.57806,0,0,1,27,24.23669ZM9.64478,14.12573a2.99143,2.99143,0,0,0,1.31073,1.462l.66583,3.05176A2.99994,2.99994,0,0,0,14.55237,21h1.89526a2.99994,2.99994,0,0,0,2.931-2.36047l.66583-3.05176a2.99115,2.99115,0,0,0,1.31073-1.462l.28-.75146A1.2749,1.2749,0,0,0,21,11.62988V9c0-3-2-5-5.5-5S10,6,10,9v2.62988a1.2749,1.2749,0,0,0-.63519,1.74439Z" />
                    </svg>
                    {%endif%}
                    <div class="flex items-end opacity-0 p-4 group-hover:opacity-100" aria-hidden="true">
                        <div
                            class="w-full bg-white bg-opacity-75 backdrop-filter backdrop-blur py-2 px-4 rounded-md text-sm font-medium text-gray-900 text-center">
                            Plus de détails
                        </div>
                    </div>
                </div>
                <div class="mt-4 flex items-center justify-between text-base font-medium text-gray-900 space-x-8">
                    <h3>
                        <a href="{% url 'actors:detail' actor.id %}">
                            <span aria-hidden="true" class="absolute inset-0"></span>
                            {{actor.name}}
                        </a>
                    </h3>
                </div>
            </div>

            {% endfor %}
        </div>

        <div class="pt-6">
            {% include 'generic/pagination.html' %}
        </div>
    </div>
</div>

{% endblock %}