{% extends '../../base/base.html' %}

{% block title %}Acteurs{% endblock %}

{% block content %}

{% include 'generic/search.html' %}

{% include 'generic/divider.html' with title='Acteurs' %}

<div class="bg-white">
    <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="mt-6 grid grid-cols-1 gap-x-8 gap-y-8 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-4">
            {% for actor in actors %}
            <div class="relative group">
                <div class="h-96 aspect-w-4 aspect-h-3 rounded-lg overflow-hidden bg-gray-100">
                    <img src="{{actor.get_profile_path}}"
                        alt=""
                        class="object-center object-cover">
                    <div class="flex items-end opacity-0 p-4 group-hover:opacity-100" aria-hidden="true">
                        <div
                            class="w-full bg-white bg-opacity-75 backdrop-filter backdrop-blur py-2 px-4 rounded-md text-sm font-medium text-gray-900 text-center">
                            Plus de détails
                        </div>
                    </div>
                </div>
                <div class="mt-4 flex items-center justify-between text-base font-medium text-gray-900 space-x-8">
                    <h3>
                        <a href="{% url 'actors:detail' actor.id %}">
                            <span aria-hidden="true" class="absolute inset-0"></span>
                            {{actor.name}}
                        </a>
                    </h3>
                </div>
            </div>

            {% endfor %}
        </div>

        <div class="pt-6">
            {% include 'generic/pagination.html' %}
        </div>
    </div>
</div>

{% endblock %}