{% load static %}
{% load tailwind_tags %}

<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% tailwind_css %}
    <link rel="icon" href="{% static 'ico/movie-64.ico' %}">
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dist/custom.css' %}">
</head>

<body class="BodyWrapper">
    {% include "./header.html" %}
    
    {% block content %}{% endblock %}

    {% include "./footer.html" %}
</body>

</html>