{% load static %}
{% load tailwind_tags %}

<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movies</title>
    {% tailwind_css %}
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dist/custom.css' %}">
</head>

<body class="BodyWrapper">
    <!-- Header -->
    {% include "base/header/header.html" %}
    
    <!-- Content -->
    {% block content %}{% endblock %}

    <!-- Footer -->
    {% include "base/footer/footer.html" %}
</body>

</html>