<div class="Menu">
    <span class="logo">Movies</span>
    <div>
        <a href="{% url 'movies:popular' %}"
            class="navTxt {% if request.resolver_match.app_name == 'movies' %}navTxtActive{%endif%}">Films</a>

        {% url 'shows:popular' as url %}
        <a href="{% url 'shows:popular' %}"
            class="navTxt {% if request.resolver_match.app_name == 'shows' %}navTxtActive{%endif%}">Séries</a>

        {% url 'actors:popular' as url %}
        <a href="{% url 'actors:popular' %}"
            class="navTxt {% if request.resolver_match.app_name == 'actors' %}navTxtActive{%endif%}">Acteurs</a>

        {% if user.is_authenticated %}
        <a href="{% url 'management:account' %}" class="navBtn">{{user.username}}</a>
        {% else %}
        <a href="{% url 'management:login' %}" class="navBtn">Connexion</a>
        {% endif %}
    </div>
</div>