{% extends "base/base.html" %}

{% block content %}
<div class="bg-white pb-6 sm:pb-8 lg:pb-12">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
        <header class="flex justify-between items-center py-4 md:py-8 mb-8 md:mb-12 xl:mb-16">
            <!-- logo - start -->
            <a href="/" class="inline-flex items-center text-black-800 text-2xl md:text-3xl font-bold gap-2.5"
                aria-label="logo">
                <svg width="95" height="94" viewBox="0 0 95 94" class="w-6 h-auto text-indigo-500" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M96 0V47L48 94H0V47L48 0H96Z" />
                </svg>

                Movies
            </a>
            <!-- logo - end -->

            <!-- nav - start -->
            <nav class="hidden lg:flex gap-12">
                {% url 'movies:movies' as url %}
                <a href="{% url 'movies:movies' %}" class="{% if request.path == url %} text-indigo-500 text-lg font-semibold {% else %} text-gray-600 hover:text-indigo-500 active:text-indigo-700 text-lg font-semibold transition duration-100 {% endif %}">Films</a>
                
                {% url 'movies:tv' as url %}
                <a href="{% url 'movies:tv' %}"
                    class="{% if request.path == url %} text-indigo-500 text-lg font-semibold {% else %} text-gray-600 hover:text-indigo-500 active:text-indigo-700 text-lg font-semibold transition duration-100 {% endif %}">Séries</a>
                
                {% url 'movies:peoples' as url %}
                <a href="{% url 'movies:peoples' %}"
                    class="{% if request.path == url %} text-indigo-500 text-lg font-semibold {% else %} text-gray-600 hover:text-indigo-500 active:text-indigo-700 text-lg font-semibold transition duration-100 {% endif %}">Personnes</a>
                
                {% url 'movies:account' as url %}
                <a href="{% url 'movies:account' %}"
                    class="{% if request.path == url %} text-indigo-500 text-lg font-semibold {% else %} text-gray-600 hover:text-indigo-500 active:text-indigo-700 text-lg font-semibold transition duration-100 {% endif %}">Profile</a>
            </nav>
            <!-- nav - end -->
            
            <!-- buttons - start -->
            <form method="post" role="form" action="{% url 'movies:search' %}">
                {% csrf_token %}
                <label for="first-name" class="text-gray-600 active:text-indigo-700 text-lg font-semibold transition duration-100">Recherche</label>
                <input name="search"
                    class="w-32 bg-gray-50 text-gray-800 border focus:ring ring-indigo-300 rounded outline-none transition duration-100 px-3 py-2" />
            </form>

            <button type="button"
                class="inline-flex items-center lg:hidden bg-gray-200 hover:bg-gray-300 focus-visible:ring ring-indigo-300 text-gray-500 active:text-gray-700 text-sm md:text-base font-semibold rounded-lg gap-2 px-2.5 py-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                        clip-rule="evenodd" />
                </svg>

                Menu
            </button>
            <!-- buttons - end -->
        </header>

        {% block body %}{% endblock %}
    </div>
</div>

{% endblock %}