{% extends "base/base.html" %}

{% block content %}
<!-- nav - start -->
<nav class="hidden lg:flex gap-12">
    <a href="#" class="text-indigo-500 text-lg font-semibold">Home</a>
    <a href="#"
        class="text-gray-600 hover:text-indigo-500 active:text-indigo-700 text-lg font-semibold transition duration-100">Features</a>
    <a href="#"
        class="text-gray-600 hover:text-indigo-500 active:text-indigo-700 text-lg font-semibold transition duration-100">Pricing</a>
    <a href="#"
        class="text-gray-600 hover:text-indigo-500 active:text-indigo-700 text-lg font-semibold transition duration-100">About</a>
</nav>
<!-- nav - end -->
{% endblock %}

{% block body %}{% endblock %}