<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-md px-4 md:px-8 mx-auto">
    <h1 class="text-gray-800 text-2xl sm:text-3xl font-bold text-center mb-4 md:mb-6">
      {{movie.title}}{{tv.name}}{{people.name}}</h1>

    <div class="bg-gray-100 overflow-hidden rounded-lg shadow-lg relative mb-6 md:mb-8">
      <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}{{ tv.poster_path }}{{ people.profile_path }}"
        loading="lazy" alt="Photo by Minh Pham" class="w-full h-full object-cover object-center" />
    </div>

    {% if people %}

    <h2 class="text-gray-800 text-xl sm:text-2xl font-semibold mb-2 md:mb-4">Biographie</h2>

    <p class="text-gray-500 sm:text-lg mb-6 md:mb-8">
      {{people.biography}}
    </p>

    <h2 class="text-gray-800 text-xl sm:text-2xl font-semibold mb-2 md:mb-4">Genre</h2>

    <p class="text-gray-500 sm:text-lg mb-6 md:mb-8">
      {% if people.gender == 1 %} Femme {% elif people.gender == 2 %} Homme {% endif %}
    </p>

    <h2 class="text-gray-800 text-xl sm:text-2xl font-semibold mb-2 md:mb-4">Date de naissance</h2>

    <p class="text-gray-500 sm:text-lg mb-6 md:mb-8">
      {{people.birthday}} {% if people.deathday is not None %} - {{people.deathday}} {% endif %}
    </p>

    <!-- genres - start -->
    <div class="mb-8 md:mb-10">
      <span class="inline-block text-gray-500 text-sm md:text-base font-semibold mb-3">Alias</span>

      <div class="flex flex-wrap space-x-4 text-center">
        {% for name in people.also_known_as %}
        <span
          class="flex justify-center items-center bg-white text-gray-400 text-sm font-semibold text-center border border-transparent rounded-md">{{name}}</span>
        {% endfor %}
      </div>
    </div>
    <!-- genres - end -->

    {% for popular in list_populars %}

    {{ popular }}

    {% endfor %}

    {% else %}

    <h2 class="text-gray-800 text-xl sm:text-2xl font-semibold mb-2 md:mb-4">A Propos</h2>

    <div class="bg-white py-6 sm:py-8 lg:py-12">
      <div class="max-w-screen-xl px-4 md:px-8 mx-auto">

        <div class="grid grid-cols-2 gap-2">
          <!-- stat - start -->
          <div class="flex flex-col justify-center items-center bg-gray-100 rounded-lg p-4 lg:p-8">
            <div class="text-indigo-500 text-xl sm:text-2xl md:text-3xl font-bold">{{movie.status}}</div>
            <div class="text-sm sm:text-base font-semibold">Statut</div>
          </div>
          <!-- stat - end -->

          <!-- stat - start -->
          <div class="flex flex-col justify-center items-center bg-gray-100 rounded-lg p-4 md:p-8">
            <div class="text-indigo-500 text-xl sm:text-2xl md:text-3xl font-bold">{{movie.original_language}}</div>
            <div class="text-sm sm:text-base font-semibold">Langue d'origine</div>
          </div>

          <!-- stat - start -->
          <div class="flex flex-col justify-center items-center bg-gray-100 rounded-lg p-4 md:p-8">
            <div class="text-indigo-500 text-xl sm:text-2xl md:text-3xl font-bold">
              {{ movie.budget }}
            </div>
            <div class="text-sm sm:text-base font-semibold">Budget</div>
          </div>
          <!-- stat - end -->

          <!-- stat - start -->
          <div class="flex flex-col justify-center items-center bg-gray-100 rounded-lg p-4 md:p-8">
            <div class="text-indigo-500 text-xl sm:text-2xl md:text-3xl font-bold">{{movie.revenue}}</div>
            <div class="text-sm sm:text-base font-semibold">Recette </div>
          </div>
          <!-- stat - end -->
        </div>
      </div>
    </div>

    <!-- genres - start -->
    <div class="mb-8 md:mb-10">
      <span class="inline-block text-gray-500 text-sm md:text-base font-semibold mb-3">Genre</span>

      <div class="flex flex-wrap space-x-4 text-center">
        {% for genre in movie.genres %}
        <span
          class="flex justify-center items-center bg-white text-gray-400 text-sm font-semibold text-center border border-transparent rounded-md">{{genre.name}}</span>
        {% endfor %}
      </div>
    </div>
    <!-- genres - end -->

    {% endif %}

  </div>
</div>