<script>
    let test = false

    function testEnter(id) {
        let card = document.getElementById('CardBoxFilm'+id)
        card.style.filter = 'blur(2px) grayscale(1)'

        let elem = document.getElementById('CardBtnFilm'+id)
        elem.style.zIndex = 100
    }

    function testOut(id) {
        let card = document.getElementById('CardBoxFilm'+id)
        card.style.filter = 'none'

        let elem = document.getElementById('CardBtnFilm'+id)
        elem.style.zIndex = 1
    }
</script>

<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">

        <div class="MainBox">
            {% for show in shows %}

            <div style="width: fit-content; margin: auto;" onmouseenter="testEnter('{{show.id}}')"
                onmouseleave="testOut('{{show.id}}')">
                <div class="CardBox">
                    <div class="ImgCardBox">
                        <img id='CardBoxFilm{{show.id}}' class="MovieImgCard"
                        
                            src="https://image.tmdb.org/t/p/w500{{show.poster_path}}" width="220" />
                        <span class="DateCardBox">{{show.first_air_date}}</span>
                    </div>
                    <div class="TxtCardBox">
                        <div style="display: flex;flex-direction: column;justify-content: center;max-width: 160px;">
                            <p style="font-size: 19px;margin: 0;">{{show.name}}</p>
                            <span class='GenreBox'>{{show.genre_ids|slice:":1"}}</span>
                        </div>
                        <div style="display: flex;justify-content: center;">
                            <span class="NoteCard">{% widthratio show.vote_average 1 10 %}%</span>
                        </div>
                    </div>
                </div>
                <a id="CardBtnFilm{{show.id}}" class="CardBtn"
                    href="{% url 'shows:detail' show.id %}">Voir l'affiche</a>
            </div>

            {% endfor %}
        </div>

    </div>
</div>