{% extends 'base/base.html' %}

{% block title %}Séries{% endblock %}

{% block content %}

{% include 'generic/search.html' %}

{% include 'generic/tabs.html' %}

{% include 'generic/divider.html' with title='Séries' %}

<div class="bg-white">
    <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="mt-6 grid grid-cols-1 gap-x-8 gap-y-8 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-4">
            {% for show in shows %}
            <div class="relative group">
                <div class="h-96 aspect-w-4 aspect-h-3 rounded-lg overflow-hidden bg-gray-100">
                    {%if show.get_poster_url%}
                    <img src="{{show.get_poster_url}}" alt="{{show.name}}" class="object-center object-cover">
                    {%else%}
                    <svg id="glyphicons-basic" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                        <path fill="#b5b5b5" id="picture" d="M27.5,5H4.5A1.50008,1.50008,0,0,0,3,6.5v19A1.50008,1.50008,0,0,0,4.5,27h23A1.50008,1.50008,0,0,0,29,25.5V6.5A1.50008,1.50008,0,0,0,27.5,5ZM26,18.5l-4.79425-5.2301a.99383.99383,0,0,0-1.44428-.03137l-5.34741,5.34741L19.82812,24H17l-4.79291-4.793a1.00022,1.00022,0,0,0-1.41418,0L6,24V8H26Zm-17.9-6a2.4,2.4,0,1,1,2.4,2.4A2.40005,2.40005,0,0,1,8.1,12.5Z"/>
                      </svg>
                    {%endif%}
                    <div class="flex items-end opacity-0 p-4 group-hover:opacity-100" aria-hidden="true">
                        <div
                            class="w-full bg-white bg-opacity-75 backdrop-filter backdrop-blur py-2 px-4 rounded-md text-sm font-medium text-gray-900 text-center">
                            Plus de détails
                        </div>
                    </div>
                </div>
                <div class="mt-4 flex items-center justify-between text-base font-medium text-gray-900 space-x-8">
                    <h3>
                        <a href="{% url 'shows:detail' show.id %}">
                            <span aria-hidden="true" class="absolute inset-0"></span>
                            {{show.name}}
                        </a>
                    </h3>
                    <p class="{%if show.get_percent_average > 60 %}text-green-800{%else%}text-red-800{%endif%}">
                        {{show.get_percent_average}}%
                        {%if show.get_percent_average > 60 %}
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
                        </svg>
                        {%else%}
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M13 17h8m0 0V9m0 8l-8-8-4 4-6-6" />
                        </svg>
                        {%endif%}
                    </p>

                </div>
                <p class="mt-1 text-sm text-gray-500">
                    {{show.get_first_genre}}
                </p>
            </div>

            {% endfor %}
        </div>

        <div class="pt-6">
            {% include 'generic/pagination.html' %}
        </div>
    </div>
</div>

{% endblock %}