{% extends '../../base/base.html' %}

{% block content %}

<div class="p-5 mx-auto sm:p-10 md:p-16 dark:text-slate-100">
    <img src="https://image.tmdb.org/t/p/original{{show.backdrop_path}}" alt=""
        class="object-cover w-full h-70 rounded-md sm:h-96 bg-slate-500">
</div>

<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="max-w-screen-md px-4 md:px-8 mx-auto">
        <h2 class="text-gray-800 text-2xl sm:text-3xl font-bold text-center mb-4 md:mb-6">Synopsis</h2>
        <blockquote class="text-gray-500 sm:text-lg italic border-l-4 pl-4 md:pl-6 mb-6 md:mb-8">
            “{{show.overview}}”</blockquote>
    </div>
</div>

{% include './credits/list.html' %}

<div class="flex justify-center space-x-1 text-white">
    <a type="button" href="{% url 'shows:credits' show.id%}"
        class="px-8 py-3 font-semibold rounded bg-indigo-500">Plus</a>
</div>

{% include './videos/list.html' %}

<div class="flex justify-center space-x-1 text-white">
    <a type="button" href="{% url 'shows:videos' show.id%}"
        class="px-8 py-3 font-semibold rounded bg-indigo-500">Plus</a>
</div>

{% include './reviews/list.html' %}

{% endblock %}