{% extends 'base/base.html' %}ie

{% block title %}{{show.name}}{% endblock %}

{% block content %}

{% include 'generic/divider.html' with title='Détails' %}

<div class="bg-white">
    <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="lg:grid lg:grid-cols-2 lg:gap-x-8 lg:items-start">
            <div class="flex flex-col-reverse">

                <div class="w-full aspect-w-1 aspect-h-1">
                    <div id="tabs-1-panel-1" aria-labelledby="tabs-1-tab-1" role="tabpanel" tabindex="0">
                        <img src="{{show.get_poster_url}}" alt=""
                            class="w-full h-full object-center object-contain sm:rounded-lg">
                    </div>
                </div>
            </div>

            <div class="mt-10 px-4 sm:px-0 sm:mt-16 lg:mt-0">
                <h1 class="text-3xl font-extrabold tracking-tight text-gray-900">{{show.name}}</h1>

                <div class="mt-3">
                    <h2 class="sr-only">Note</h2>
                    <p
                        class="text-3xl {% if show.get_percent_average > 60 %}text-green-800{%else%}text-red-800{%endif%}">
                        {{show.get_percent_average}}%</p>
                </div>

                <div class="mt-6">
                    <h3 class="sr-only">Description</h3>

                    <div class="text-base text-gray-700 space-y-6">
                        <p>{{show.overview}}</p>
                    </div>
                </div>

                <div class="mt-6">
                    <h3 class="text-sm text-gray-600">Genres</h3>

                    <fieldset class="mt-2">
                        <div class="flex items-center space-x-3">
                            {% for genre in show.genres.all %}
                            <label
                                class="-m-0.5 relative p-0.5 rounded-full flex items-center justify-center cursor-pointer focus:outline-none ring-gray-700">

                                <span
                                    class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-purple-100 text-purple-800">
                                    {{genre.name}}
                                </span>
                            </label>
                            {% endfor %}
                        </div>
                    </fieldset>
                </div>

                {% if user.is_authenticated %}

                <div class="mt-10 flex sm:flex-col1">
                    <form action="." method="post">
                        {% csrf_token %}

                        <button type="submit" name="watched" id="watched"
                            class="max-w-xs flex-1 {% if watched %} bg-gray-300 hover:bg-red-700 focus:ring-red-500 {% else %} bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 {% endif %} border border-transparent rounded-md py-3 px-8 flex items-center justify-center text-base font-medium text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 sm:w-full">
                            {%if watched %}Enlever de ma liste{%else%}Ajouter à ma liste{% endif %}</button>

                    </form>

                    <form action="." method="post">
                        {% csrf_token %}
                        <button type="submit" name="favorite" id="favorite"
                            class="ml-4 py-3 px-3 rounded-md flex items-center justify-center text-gray-400 hover:bg-gray-100 hover:text-gray-500">
                            {%if favorite%}
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 flex-shrink-0 text-purple-500"
                                viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                                    clip-rule="evenodd" />
                            </svg>
                            {%else%}
                            <svg class="h-6 w-6 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                            </svg>
                            {% endif %}
                            <span class="sr-only">Favoris</span>
                        </button>
                    </form>
                </div>

                {% endif %}

                <section aria-labelledby="details-heading" class="mt-12">
                    <h2 id="details-heading" class="sr-only">Additional details</h2>

                    <div class="border-t divide-y divide-gray-200">

                        <div>
                            <h3>
                                <div class="group relative w-full py-6 flex justify-between items-center text-left"
                                    aria-controls="disclosure-1" aria-expanded="false">
                                    <span class="text-gray-900 text-sm font-medium">
                                        Informations
                                    </span>
                                </div>
                            </h3>
                            <div class="pb-6 prose prose-sm" id="disclosure-1">
                                <ul role="list">
                                    <li>{{show.last_episode.season_number}} Saisons</li>

                                    <li>publié le {{show.last_episode.air_date|date}}</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </section>

            </div>
        </div>
    </div>
</div>

{% include 'generic/divider.html' with title='Saisons' %}

<div class="bg-white shadow overflow-hidden p-8 sm:rounded-md">
    <ul role="list" class="divide-y divide-gray-200">

        {% for season in show.seasons.all %}

        <li>
            <a href="#" class="block hover:bg-gray-50">
                <div class="flex items-center px-4 py-4 sm:px-6">
                    <div class="min-w-0 flex-1 flex items-center">
                        <div class="flex-shrink-0">
                            <img class="object-cover h-64 w-48 rounded-lg" src="{{season.get_poster_url}}" alt="" />
                        </div>
                        <div class="min-w-0 flex-1 px-4 md:grid md:grid-cols-2 md:gap-4">
                            <div>
                                <p class="text-sm font-medium text-indigo-600 truncate">{{season.name}}</p>
                                <p class="mt-2 flex items-center text-sm text-gray-500">
                                    <span class="text-ellipsis overflow-hidden">{{season.overview}}</span>
                                </p>
                            </div>
                            <div class="hidden md:block">
                                <div>
                                    <p class="text-sm text-gray-900">
                                        Diffusé le
                                        <time datetime="2020-01-07">{{season.air_date}}</time>
                                    </p>
                                    <p class="mt-2 flex items-center text-sm text-gray-500">
                                        {{season.episode_count}} épisodes
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                </div>
            </a>
        </li>

        {% endfor %}

    </ul>
</div>

{% include 'generic/divider.html' with title='Acteurs' %}

<div class="bg-white">
    <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="sr-only">Acteurs</h2>

        {% include 'generic/actors.html' with actors=cast|slice:":8" %}

        <div x-data="{ open: false }" class="flex justify-center">
            <span x-on:click="open = true">
                <button type="button" class="font-medium text-indigo-600 hover:text-indigo-500">
                    Plus d'acteurs
                    <span aria-hidden="true"> &rarr;</span>
                </button>
            </span>

            <div x-show="open" style="display: none" x-on:keydown.escape.prevent.stop="open = false" role="dialog"
                aria-modal="true" x-id="['modal-title']" :aria-labelledby="$id('modal-title')"
                class="fixed inset-0 overflow-y-auto z-10">

                <div x-show="open" x-transition.opacity class="fixed inset-0 bg-black bg-opacity-50"></div>

                <div x-show="open" x-transition x-on:click="open = false"
                    class="relative min-h-screen flex items-center justify-center p-4">
                    <div x-on:click.stop x-trap.noscroll.inert="open"
                        class="relative max-w-6xl w-full bg-white rounded-xl shadow-lg p-12 overflow-y-auto">
                        <h2 class="text-3xl font-bold" :id="$id('modal-title')">Acteurs</h2>

                        {% include 'generic/actors.html' with actors=cast|slice:"8:" %}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% include 'generic/divider.html' with title='Commentaires' %}

<div class="bg-white">
    <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="text-lg font-medium text-gray-900">Avis récents</h2>
        <div class="mt-6 pb-10 border-t border-b border-gray-200 divide-y divide-gray-200 space-y-10">

            {% if reviews %}

            {% for comment in reviews %}
            <div class="pt-10 lg:grid lg:grid-cols-12 lg:gap-x-8">
                <div
                    class="lg:col-start-5 lg:col-span-8 xl:col-start-4 xl:col-span-9 xl:grid xl:grid-cols-3 xl:gap-x-8 xl:items-start">
                    <div class="flex items-center xl:col-span-1"></div>

                    <div class="mt-4 lg:mt-6 xl:mt-0 xl:col-span-2">
                        <h3 class="text-sm font-medium text-gray-900">Commentaire</h3>

                        <div class="mt-3 space-y-6 text-sm text-gray-500">
                            <p>{{comment.content}}</p>
                        </div>
                    </div>
                </div>

                <div
                    class="mt-6 flex items-center text-sm lg:mt-0 lg:col-start-1 lg:col-span-4 lg:row-start-1 lg:flex-col lg:items-start xl:col-span-3">
                    <p class="font-medium text-gray-900">{{comment.author}}</p>
                    <time datetime="2021-01-06"
                        class="ml-4 border-l border-gray-200 pl-4 text-gray-500 lg:ml-0 lg:mt-2 lg:border-0 lg:pl-0">{{comment.created_at}}</time>
                </div>
            </div>

            {% endfor %}

            {% else %}
            <div>
                <p class="text-gray-500">Aucun commentaires pour le moment ...</p>
            </div>
            {% endif %}

        </div>
    </div>
</div>

<form action="." method="post">
    {% csrf_token %}
    <div x-data="{ open: false }" class="flex justify-center">

        <span x-on:click="open = true">
            <button type="button"
                class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">
                Ajouter un commentaire
            </button>
        </span>

        <div x-show="open" style="display: none" x-on:keydown.escape.prevent.stop="open = false" role="dialog"
            aria-modal="true" x-id="['modal-title']" :aria-labelledby="$id('modal-title')"
            class="fixed inset-0 overflow-y-auto z-10">

            <div x-show="open" x-transition.opacity class="fixed inset-0 bg-black bg-opacity-50"></div>

            <div x-show="open" x-transition x-on:click="open = false"
                class="relative min-h-screen flex items-center justify-center p-4">
                <div x-on:click.stop x-trap.noscroll.inert="open"
                    class="relative max-w-2xl w-full bg-white rounded-xl shadow-lg p-12 overflow-y-auto">

                    <h2 class="text-3xl font-bold" :id="$id('modal-title')">Commentaire</h2>

                    <p class="mt-2 text-gray-600">Faite preuve de politesse et de respect pour votre commentaire.
                    </p>

                    {{form_review.content}}

                    <div class="mt-8 flex space-x-2">
                        <button type="button" x-on:click="open = false"
                            class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:w-auto sm:text-sm">
                            Annuler
                        </button>
                        <button type="submit" x-on:click="open = false"
                            class="ml-5 bg-purple-700 border border-transparent rounded-md shadow-sm py-2 px-4 inline-flex justify-center text-sm font-medium text-white hover:bg-purple-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">
                            Envoyer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% if similars %}
{% include 'generic/divider.html' with title='Recommandations' %}

<div class="bg-white">
    <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="mt-6 grid grid-cols-1 gap-x-8 gap-y-8 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-4">

            {% for similar in similars %}

            <div class="relative group">
                <div class="aspect-w-4 aspect-h-3 rounded-lg overflow-hidden bg-gray-100">
                    <img src="https://image.tmdb.org/t/p/w500/{{similar.poster_path}}" alt=""
                        class="object-center object-cover">
                    <div class="flex items-end opacity-0 p-4 group-hover:opacity-100" aria-hidden="true">
                        <div
                            class="w-full bg-white bg-opacity-75 backdrop-filter backdrop-blur py-2 px-4 rounded-md text-sm font-medium text-gray-900 text-center">
                            Plus de détails
                        </div>
                    </div>
                </div>
                <div class="mt-4 flex items-center justify-between text-base font-medium text-gray-900 space-x-8">
                    <h3>
                        <a href="{% url 'shows:detail' similar.id %}">
                            <span aria-hidden="true" class="absolute inset-0"></span>
                            {{similar.name}}
                        </a>
                    </h3>
                    <p>{% widthratio similar.vote_average 1 10 %}%</p>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</div>

{% endif %}

{% endblock %}