<div style="display: flex;flex-direction: column;justify-content: center;">
    <h1 style="text-align: center;font-size: 50px;margin-bottom: 0;">{{categorie}}</h1>
    <span class="HeaderLine"></span>
    <div style="display: flex;flex-direction: row;justify-content: space-between;padding: 0 50px;">
        
        <div class="SearchSelectBox">
            <select class="SearchSelect">
                <option style="background: #dddddd;" value="" disabled selected>Genre</option>

                {% for genre in genres %}
                <option style="background: #dddddd;" value="idGenre">{{genre.name}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="SearchResolutionBox">
            {% if link_popular is not None %}
            <a class="SearchResolutionItem" href="{% url link_popular %}">Populaires</a>
            {% endif %}

            {% if link_nowplaying is not None %}
            <a class="SearchResolutionItem" href="{% url link_nowplaying %}">Du moment</a>
            {% endif %}

            {% if link_upcoming is not None %}
            <a class="SearchResolutionItem" href="{% url link_upcoming %}">A venir</a>
            {% endif %}
        </div>
    </div>

    <div class="SearchBar">
        <form method="get" action="{% url link_search %}">
            <input name="q" type="text" placeholder="Recherche" class="SearchInput">
        </form>
        <div class="SearchIconeBox">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 SearchIcone" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
        </div>
    </div>

</div>