{% extends '../../base/base.html' %}

{% block title %}{{movie.title}}{% endblock %}

{% block content %}

<div class="TopBanner">
    <img src="{{movie.get_poster_url}}" class="Poster">
    <div class="mainInfo">
        <h1 class="mainTitle">{{movie.title}}</h1>
        <div style="display: flex;align-items: center;">
            <span style="margin-right: 20px;">{{movie.release_date}}</span>
            
            <span class="genreTxt">genre</span>
            
            <span style="margin-left: 20px;margin-top: 3px;">({{movie.get_runtime}})</span>
        </div>
        <div class="noteBox">
            <span>{{movie.get_percent_average}}%</span>
        </div>
        <div>
            <h3 style="margin: 0;">Synopsis</h3>
            <p style="max-width: 450px;font-family: sans-serif;margin-top: 4px;">
                {{movie.overview}}
            </p>
        </div>
        <span><span style="color: rgb(177, 177, 177);">Réalisateur:</span> Sam Raimi</span>
    </div>
</div>

<div class="carousel-wrapper">
    <div class="carousel">
        <div class="slider" id="slider" tabindex="0">
            <div class="slide">
                <img draggable="false"
                    style="border-radius: 5px 5px 0px 0px;width: 192px; height: 250px; object-fit: cover"
                    src="./actor.jpg">
                <span class="actorTxt">Benedict Cumberbatch <br><span
                        style="font-family: sans-serif;font-size: 12px">Dr. Stephen Strange</span></span>
            </div>
            <div class="slide">
                <img draggable="false"
                    style="border-radius: 5px 5px 0px 0px;width: 192px; height: 250px; object-fit: cover"
                    src="./actor.jpg">
                <span class="actorTxt">Benedict Cumberbatch <br><span
                        style="font-family: sans-serif;font-size: 12px">Dr. Stephen Strange</span></span>
            </div>
            <div class="slide">
                <img draggable="false"
                    style="border-radius: 5px 5px 0px 0px;width: 192px; height: 250px; object-fit: cover"
                    src="./actor.jpg">
                <span class="actorTxt">Benedict Cumberbatch <br><span
                        style="font-family: sans-serif;font-size: 12px">Dr. Stephen Strange</span></span>
            </div>
            <div class="slide">
                <img draggable="false"
                    style="border-radius: 5px 5px 0px 0px;width: 192px; height: 250px; object-fit: cover"
                    src="./actor.jpg">
                <span class="actorTxt">Benedict Cumberbatch <br><span
                        style="font-family: sans-serif;font-size: 12px">Dr. Stephen Strange</span></span>
            </div>
            <div class="slide">
                <img draggable="false"
                    style="border-radius: 5px 5px 0px 0px; width: 192px; height: 250px; object-fit: cover;"
                    src="./actor.jpg">
                <span class="actorTxt">Benedict Cumberbatch <br><span
                        style="font-family: sans-serif;font-size: 12px">Dr. Stephen Strange</span></span>
            </div>
        </div>
        <button class="slider-control arrow-left hide" id="btn-prev"><svg xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-chevron-left" width="24" height="24" viewBox="0 0 24 24"
                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <polyline points="15 6 9 12 15 18"></polyline>
            </svg></button>
        <button class="slider-control arrow-right" id="btn-next"><svg xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-chevron-right" width="24" height="24" viewBox="0 0 24 24"
                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <polyline points="9 6 15 12 9 18"></polyline>
            </svg></button>
    </div>
</div>

{% load static %}
<script type="text/javascript" src="{% static 'js/carousel.js' %}"></script>
{% endblock %}