{% extends '../../base/base.html' %}

{% block title %}{{movie.title}}{% endblock %}

{% block content %}

{% include 'generic/divider.html' with title='Détails' %}

<div class="bg-white">
    <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="lg:grid lg:grid-cols-2 lg:gap-x-8 lg:items-start">
            <div class="flex flex-col-reverse">

                <div class="w-full aspect-w-1 aspect-h-1">
                    <div id="tabs-1-panel-1" aria-labelledby="tabs-1-tab-1" role="tabpanel" tabindex="0">
                        <img src="{{movie.get_poster_url}}" alt="{{movie.title}}"
                            class="w-full h-full object-center object-contain sm:rounded-lg">
                    </div>
                </div>
            </div>

            <div class="mt-10 px-4 sm:px-0 sm:mt-16 lg:mt-0">
                <h1 class="text-3xl font-extrabold tracking-tight text-gray-900">{{movie.title}}</h1>

                <div class="mt-3">
                    <h2 class="sr-only">Note</h2>
                    <p
                        class="text-3xl {% if movie.get_percent_average > 60 %}text-green-800{%else%}text-red-800{%endif%}">
                        {{movie.get_percent_average}}%</p>
                </div>

                <div class="mt-6">
                    <h3 class="sr-only">Description</h3>

                    <div class="text-base text-gray-700 space-y-6">
                        <p>{{movie.overview}}</p>
                    </div>
                </div>

                {% if movie.homepage %}
                <div class="flex mt-6">
                    <a href="{{movie.homepage}}" target="_blank"
                        class="text-sm font-medium text-indigo-600 hover:text-indigo-500">Site internet</a>
                </div>
                {% endif %}

                <form class="mt-6">
                    <div>
                        <h3 class="text-sm text-gray-600">Genres</h3>

                        <fieldset class="mt-2">
                            <div class="flex items-center space-x-3">
                                {% for genre in movie.genres.all %}
                                <label
                                    class="-m-0.5 relative p-0.5 rounded-full flex items-center justify-center cursor-pointer focus:outline-none ring-gray-700">

                                    <span
                                        class="inline-flex items-center px-2 py-0.5 rounded text-xs font-medium bg-purple-100 text-purple-800">
                                        {{genre.name}}
                                    </span>
                                </label>
                                {% endfor %}
                            </div>
                        </fieldset>
                    </div>

                    <div class="mt-10 flex sm:flex-col1">
                        <button type="submit"
                            class="max-w-xs flex-1 bg-indigo-600 border border-transparent rounded-md py-3 px-8 flex items-center justify-center text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-indigo-500 sm:w-full">Ajouter
                            à ma liste</button>

                        <button type="button"
                            class="ml-4 py-3 px-3 rounded-md flex items-center justify-center text-gray-400 hover:bg-gray-100 hover:text-gray-500">
                            <svg class="h-6 w-6 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                            </svg>
                            <span class="sr-only">Favoris</span>
                        </button>
                    </div>
                </form>

                <section aria-labelledby="details-heading" class="mt-12">
                    <h2 id="details-heading" class="sr-only">Additional details</h2>

                    <div class="border-t divide-y divide-gray-200">

                        <div>
                            <h3>
                                <div class="group relative w-full py-6 flex justify-between items-center text-left"
                                    aria-controls="disclosure-1" aria-expanded="false">
                                    <span class="text-gray-900 text-sm font-medium">
                                        Informations
                                    </span>
                                </div>
                            </h3>
                            <div class="pb-6 prose prose-sm" id="disclosure-1">
                                <ul role="list">
                                    <li>Durée ({{movie.get_runtime}})</li>

                                    <li>Budget {{movie.budget}} $</li>

                                    <li>Recette {{movie.revenue}} $</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </section>

            </div>
        </div>
    </div>
</div>

{% include 'generic/divider.html' with title='Acteurs' %}

<div class="bg-white">
    <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="sr-only">Products</h2>
        <div class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">

            {% for actor in cast %}
            <a href="{% url 'actors:detail' actor.id %}" class="group">
                <div
                    class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
                    <img src="https://image.tmdb.org/t/p/w500{{actor.profile_path}}"
                        alt=""
                        class="w-full h-full object-center object-cover group-hover:opacity-75">
                </div>
                <h3 class="mt-4 text-sm text-gray-700">
                    {{actor.original_name}}
                </h3>
                <p class="mt-1 text-lg font-medium text-gray-900">
                    {{actor.character}}
                </p>
            </a>
            {% endfor %}
        </div>
        <a href="#" type="button" class="font-medium text-indigo-600 hover:text-indigo-500">Plus d'acteurs<span
                aria-hidden="true"> &rarr;</span></a>
    </div>
</div>

{% include 'generic/divider.html' with title='Commentaires' %}

<div class="bg-white">
    <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="text-lg font-medium text-gray-900">Avis récents</h2>
        <div class="mt-6 pb-10 border-t border-b border-gray-200 divide-y divide-gray-200 space-y-10">

            {% if reviews %}

            {% for comment in reviews %}
            <div class="pt-10 lg:grid lg:grid-cols-12 lg:gap-x-8">
                <div
                    class="lg:col-start-5 lg:col-span-8 xl:col-start-4 xl:col-span-9 xl:grid xl:grid-cols-3 xl:gap-x-8 xl:items-start">
                    <div class="flex items-center xl:col-span-1"></div>

                    <div class="mt-4 lg:mt-6 xl:mt-0 xl:col-span-2">
                        <h3 class="text-sm font-medium text-gray-900">Commentaire</h3>

                        <div class="mt-3 space-y-6 text-sm text-gray-500">
                            <p>{{comment.content}}</p>
                        </div>
                    </div>
                </div>

                <div
                    class="mt-6 flex items-center text-sm lg:mt-0 lg:col-start-1 lg:col-span-4 lg:row-start-1 lg:flex-col lg:items-start xl:col-span-3">
                    <p class="font-medium text-gray-900">{{comment.author}}</p>
                    <time datetime="2021-01-06"
                        class="ml-4 border-l border-gray-200 pl-4 text-gray-500 lg:ml-0 lg:mt-2 lg:border-0 lg:pl-0">{{comment.created_at}}</time>
                </div>
            </div>

            {% endfor %}

            {% else %}
            <div>
                <p class="text-gray-500">Aucun commentaires pour le moment ...</p>
            </div>
            {% endif %}

        </div>
    </div>
</div>

{% if similars %}
{% include 'generic/divider.html' with title='Recommandations' %}

<div class="bg-white">
    <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="mt-6 grid grid-cols-1 gap-x-8 gap-y-8 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-4">

            {% for similar in similars %}

            <div class="relative group">
                <div class="aspect-w-4 aspect-h-3 rounded-lg overflow-hidden bg-gray-100">
                    <img src="https://image.tmdb.org/t/p/w500/{{similar.poster_path}}"
                        alt=""
                        class="object-center object-cover">
                    <div class="flex items-end opacity-0 p-4 group-hover:opacity-100" aria-hidden="true">
                        <div
                            class="w-full bg-white bg-opacity-75 backdrop-filter backdrop-blur py-2 px-4 rounded-md text-sm font-medium text-gray-900 text-center">
                            Plus de détails
                        </div>
                    </div>
                </div>
                <div class="mt-4 flex items-center justify-between text-base font-medium text-gray-900 space-x-8">
                    <h3>
                        <a href="{% url 'movies:detail' similar.id %}">
                            <span aria-hidden="true" class="absolute inset-0"></span>
                            {{similar.title}}
                        </a>
                    </h3>
                    <p>{% widthratio similar.vote_average 1 10 %}%</p>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</div>

{% endif %}

{% endblock %}