<div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">

        <div class="grid grid-cols-4 gap-4">
            {% for value in values %}

            <div class="max-w-xs rounded-md shadow-md dark:bg-coolGray-900 dark:text-coolGray-100">
                <a href="{% if url_path %}{% url url_path value.id%}{% else %}{{value.media_type}}/{{value.id}}{% endif %}">
                    <img src="https://image.tmdb.org/t/p/w500{{value.poster_path}}" alt=""
                        class="object-cover object-center w-full rounded-t-md h-120 dark:bg-coolGray-500">
                    <div class="flex flex-col justify-between p-6 space-y-8">
                        <div class="space-y-2">
                            <h2 class="text-3xl font-semibold tracking-wide">{{value.title}}{{value.name}}</h2>
                            <p class="dark:text-coolGray-100">{{value.overview|truncatechars:300}}
                            </p>
                        </div>
                    </div>
                </a>
            </div>

            {% endfor %}
        </div>

    </div>
</div>