{% extends '../../base/base.html' %}

{% block content %}

<div style="display: flex;flex-direction: column;justify-content: center;">
    <h1 style="text-align: center;font-size: 50px;margin-bottom: 0;">Films</h1>
    <span class="HeaderLine"></span>
</div>

<div class="SearchBar">
    <input class="SearchInput" placeholder="Rechercher" />
    <div class="SearchIconeBox">
        <i class="fa-solid fa-magnifying-glass SearchIcone"></i>
    </div>
</div>

</div>

{% if movies %}

<!-- movies -->
{% include "pages/mediaview/card/card.html" with values=movies url_path="movies:movie-detail" %}

{% endif %}

{% if shows %}

<!-- shows -->
{% include "pages/mediaview/card/card.html" with values=shows url_path="shows:show-detail" %}

{% endif %}

{% if results %}

<!-- search -->
{% include "pages/mediaview/card/card.html" with values=results %}

{% endif %}

<!-- pagination -->
{% include "pages/mediaview/pagination/pages.html" %}

{% endblock %}