{% extends '../../base/base.html' %}

{% block content %}

{% if movies %}

<!-- movies -->
{% include "pages/mediaview/card/card.html" with values=movies url_path="movies:movie-detail" %}

{% endif %}

{% if shows %}

<!-- shows -->
{% include "pages/mediaview/card/card.html" with values=shows url_path="movies:tv-detail" %}

{% endif %}

{% if results %}

<!-- search -->
{% include "pages/mediaview/card/card.html" with values=results %}

{% endif %}

<!-- pagination -->
{% include "pages/mediaview/pagination/pages.html" %}

{% endblock %}